:root {
    --heading-background-color:white;
    --heading-text-color:rgb(26, 49,69);
    --heading-font: Arial, Helvetica, sans-serif;
    --padding:1rem;
}

/* this contain a type selector*/
header {
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: left;
    font-style: normal;
    color: rgb(180, 205, 228);
}

header h1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end:3;
    text-align: center;
    color: rgb(26, 49, 69);
    position: relative;
    background-color: rgba(180, 205, 228, .5);
    box-shadow: 0 0 30px rgb(11, 7, 22);
}
header p {
    width: 100%;
    grid-column-start: 1;
    grid-column-end:3;
    text-align: center;
    color: rgb(26, 49, 69);
    position: relative;
    background-color: rgba(180, 205, 228, .5);
}

.logo-box {
    display:flex;
    width:min-content;
    justify-content: center;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.menu a{
   	box-shadow: 0 0 10px #111;
    text-align: center;
    text-decoration: none;
}

.hero {
    display:grid;
    grid-template-rows: 10% 58% 10%;
    grid-template-columns: 10% 80% 10%;
    top: 5px;
    bottom: 5px;
}
    /*this contain a Class selector*/
.heroimage {
    position:absolute;
    display:flex;
    width:100%;
    height: auto;
    z-index: -1;
}

h1 {
    width: 100%;
    text-align: center;
    color: rgb(26, 49, 69);
    position: absolute;
    background-color: rgba(180, 205, 228, .5);
    box-shadow: 0 0 30px rgb(11, 7, 22);
    z-index: 1;
}

article {
    /* background-color: rgba(180, 205, 228, .5); */
    display:grid;
    position:relative;
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start:2;
    grid-row-end:2;
    grid-template-columns: 80% 20%;
    margin-block: 35%;
    
}
article div {
    display:flex;
    /* grid-template-columns: 80% 20%; */
    /* grid-template-rows: 10%; */
    justify-content: center;
}
article .text_customer {
    background-color: rgba(180, 205, 228, .5);
    grid-row-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-self: center;
    margin: 0px;
    z-index: 1;
}

article .customer {
    background-color: rgba(180, 205, 228, .5);
    grid-row-start: 1;
    grid-column-start:2;
    align-items: center;
    z-index: 1;
}

.history {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 180px 70px;
    grid-gap:10px;
    margin-block: 20px;
    justify-content: space-around;
    box-shadow: 0 0 10px #111;
}
.history, h3 {
    display:grid;
    grid-row-start: 1;
    grid-row-end:1;
    grid-column-start:1;
    grid-column-end:4;
    justify-content: center;
    bottom:20px;
}

.p1 {
    display:flex;
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start:3;
    grid-column-end:3;
    text-align: justify;
    justify-self: center;
    margin-right: 5%;
}

.imagehistory {
    display:grid;
    width: 100px;
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start:2;
    grid-column-end:2;
    align-self: center;
    justify-self: center;
}
.p2 {
    display:grid;
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:1;
    text-align: justify;
    justify-self:flex-start;
    margin-left: 5%;
}

.adventure {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 40% 20%;
    justify-content: center;
    box-shadow: 0 0 10px #111;
}

.title3 {
    grid-column-start:1;
    grid-column-end: 6;
    text-align: center;
}
.beach1 {
    grid-column-start:1;
    grid-row-start: 2;
    text-align: start;
    align-self: center;
    justify-self: center;
}
.beach2 {
    grid-column-start:2;
    grid-row-start: 2;
    text-align: start;
    align-self: center;
    justify-self: center;
}

.beach3 {
    grid-column-start:3;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}
.beach4 {
    grid-column-start:4;
    grid-row-start: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
}
.beach5 {
    grid-column-start:5;
    grid-row-start: 2;
    text-align: start;
    align-self: center;
    justify-self: center;
}

section p {
    align-self: center;
    justify-self: center;
}

footer {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:40%;
    grid-gap: 10px;
}

.sociallinks {
    display:flex;
    position:absolute;
    justify-self: right;
    margin-right:5% ;
}

footer p {
    grid-column-start:1;
    grid-column-end:2;
    
    justify-self: center;
}

/* Here start contact page */

.information {
    display: grid;
    box-shadow: 0 0 10px #111;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20%;
    margin-bottom: 10px;
}

.information, h4 {
    /* width: 100%;
    text-align: center;
    color: rgb(26, 49, 69);
    position: absolute;
    background-color: rgba(180, 205, 228, .5);
    box-shadow: 0 0 30px rgb(11, 7, 22); */
    
    display:grid;
    position:relative;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:1;
    
}
.information p {
    padding-left: 40px;
    grid-column-start: 1;
    text-align: end;
    justify-self: end;
}

.information iframe {
    grid-column-start:2;
    grid-row-start:2;
    grid-row-end:5;
    justify-self:center;
}

.ourteam {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    box-shadow: 0 0 10px #111;
}

.teamsnames {
    grid-column-start:1;
    grid-column-end: 6;
    text-align: center;
}

.worker {
    grid-column-start:1;
    grid-row-start: 2;
    text-align:center;
    align-self: center;
    justify-self: center;
}

.worker1 {
    grid-column-start:2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}
.worker2 {
    grid-column-start:3;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}
.worker3 {
    grid-column-start:4;
    grid-row-start: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
}
.worker4 {
    grid-column-start:5;
    grid-row-start: 2;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.ourteam p {
    text-align: center;
}

table {
    /* background-color: green; */
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px #111;
    
}
td {
    vertical-align: top;
}
.contact-us {
    text-align: center;
}
.infocolumn, .form-column {
    width: 50%;
}
textarea {
    width: 99%;
    margin-top: 10px;
    margin-left: 2px;
}
.submit-button {
    text-align: center;
    margin-top: 20px;
}
.full-width {
    width: 100%;
}

a p {
    text-align: center;
}